.the-interior-has-a-armchair-on-back {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 150vh;
    overflow: hidden;  }
  .your-logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: inherit;
    display: inline-block;
    min-width: 100px;
    z-index: 1;
  }
  .Header,
  .login-5-register {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .Header {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }
  .login-5-register {
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Poppins;
  }
  @media screen and (max-width: 1200px) {
    .header {
      padding-left: 332px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .header,
    .login-5-register {
      padding-left: 166px;
      box-sizing: border-box;
    }
    .login-5-register {
      padding-left: 21px;
      padding-right: 21px;
    }
  }
  @media screen and (max-width: 450px) {
    .your-logo {
      font-size: 16px;
    }
    .header {
      padding-left: 20px;
      box-sizing: border-box;
    }
  }