.image-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 16px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .title {
    align-self: stretch;
    height: 20px;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .date {
    align-self: stretch;
    height: 16px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    color: #49454f;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-01 {
    height: 160px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    min-width: 120px;
    max-width: 220px;
    text-align: left;
    font-size: 14px;
    color: #1d1b20;
    font-family: Roboto;
  }
  
  @media screen and (max-width: 3123px) {
    .card-01 {
      max-width: 100%;
    }
  }