.popular-destinations  {
    margin: 0;
    width: 1352px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    color: black;
  }
  .divider {
    width: 368px;
    height: 3px;
    position: relative;
    border-top: 3px solid #ff7757;
    box-sizing: border-box;
    max-width: 100%;
  }
  .most-popular-destinations {
    align-self: stretch;
    position: relative;
  }
  .most-popular-destinations-arou-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 0px 0px;
    box-sizing: border-box;
    min-width: 879px;
    max-width: 100%;
  }
  .chevron-down-icon {
    align-self: stretch;
    width: 66px;
    border-radius: 12px;
    max-height: 100%;
    object-fit: contain;
    min-height: 60px;
  }
  .chevron-down-icon1 {
    align-self: stretch;
    width: 66px;
    border-radius: 12px;
    max-height: 100%;
    object-fit: contain;
    min-height: 60px;
  }
  .chevron-down-parent {
    width: 172px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .chevron-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    max-width: 100%;
    margin-top: -3px;
  }
  .divider-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    font-size: 24px;
    color: #767e86;
    font-family: Rubik;
  }
  .navigation {
    width: 1576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
    gap: 20px;
    max-width: 100%;
    text-align: left;
    font-size: 64px;
    color: #172432;
    font-family: "Playfair Display";
  }
  
  @media screen and (max-width: 1125px) {
    .most-popular-destinations-arou-wrapper {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 1025px) {
    .popular-destinations {
      font-size: 51px;
    }
  }
  @media screen and (max-width: 750px) {
    .chevron-container {
      gap: 16px;
    }
  }
  @media screen and (max-width: 450px) {
    .popular-destinations {
      font-size: 38px;
    }
  
    .most-popular-destinations {
      font-size: 19px;
    }
  }