.enter-your-username {
    margin-top: -37px;
    position: relative;
    flex-shrink: 0;
  }
  .input-boxes {
    border: 1px solid #4285f4;
    outline: 0;
    background-color: #fff;
    align-self: stretch;
    height: 57px;
    position: relative;
    border-radius: 9px;
    box-sizing: border-box;
    min-width: 250px;
    flex-shrink: 0;
  }
  .username-or-email {
    width: 302px;
    position: absolute;
    margin: 0 !important;
    bottom: 19px;
    left: 25px;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    display: inline-block;
    z-index: 1;
  }
  .enter-your-username-or-email-a-parent {
    align-self: stretch;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 35px 0 0;
    box-sizing: border-box;
    position: relative;
    gap: 13px;
    z-index: 1;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
  }